* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
      0deg,
      rgba(55, 55, 55, 0.4),
      rgba(55, 55, 55, 0.4)
    ),
    url(../images/earth.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: sans-serif;
}
.heading {
  display: flex;
  justify-content: flex-start;
  font-family: "Times New Roman", Times, serif;
  color: #ddd;
  margin-right: 55%;
  font-size: 25px;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 35px;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  height: 55px;
  gap: 15px;
  z-index: 20;
}
.search-bar {
  background-color: rgb(0, 0, 255);
  color: white;
  width: 10rem;
  height: 2rem;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 900;
}

.search-bar:hover {
  background-color: #ff8000;
}

.dropbtn {
  background-color: #0000ff;
  color: white;
  padding: 19px;
  font-size: 16px;
  display: flex;
  border: none;
}

.fa-shopping-cart {
  background: none;
  font-size: 20px;
}
.modal-button {
  color: #0000ff;
  background: none;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 1px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ff8000;
}

.hi {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(251, 185, 70, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 70%;
  height: 70%;
  z-index: 30;
}

#cart-modal.active,
.hi.active {
  display: flex;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 60%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(255, 203, 111, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 20;
}

.modal.active {
  display: flex;
}

.format-img {
  display: none;
}

.totalofcart {
  background-color: white;
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 160px;
  height: 150px;
}

/* >>>>>>button filter<<<< */

#filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  background-color: black;
  width: 100%;
  padding: 10px;
  z-index: 10;
}

.input {
  border: none;
  width: 150;
  height: 25px;
  border-radius: 50px;
  align-items: center;
  outline: none;
  background-color: white;
}

.btn {
  border: none;
  background-color: #0000ff;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 1px;
  font-weight: 900;
}

.btn:hover {
  background-color: #ff8000;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: -0.9em;
  }
  43% {
    top: 0em;
  }
  46% {
    top: -0.4em;
  }
  48% {
    top: 0em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

/* >>>>>>>items<<<<<< */
#products-container {
  margin: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 100%;
}

.products {
  border-radius: 20px;
  margin: 20px;
  height: 30rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 255) 0%,
    rgba(255, 128, 0, 1) 100%
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 20%;
  height: 32rem;
  width: 300px;
}

#my-form {
  border-radius: 50%;
}

.phone-img {
  object-fit: contain;
  border-radius: 1px;
  position: relative;
  width: 100%;
  height: 210px;
}

.gif-con {
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 50; */
  margin-top: 4rem;
}

.gif-wit {
  object-fit: fill;
  margin-top: 10rem;
  width: 90%;
  height: 400px;
}

.content-p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
  padding: 10px;
}
.product-discription {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainsc-head {
  display: flex;
  justify-content: center;
  color: #ddd;
  font-size: 35px;
  margin-top: 5em;
  text-transform: uppercase;
}

.mainsc-head h3 {
  text-decoration: underline;
}

.logoutbtn {
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: white;
  padding: 18px;
  background: #0000ff;
}

/* modal close btn */
/* .close {
  font-size: 30px;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
} */

#more {
  display: none;
}

.cartbtn {
  background-color: rgba(0, 0, 255);
  color: #c0c0c0;
  width: 10rem;
  display: flex;
  justify-content: center;
  border: none;
  height: 2rem;
  border-radius: 20px;
}

.btn_cart {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  font-weight: 900;
}
.cartbtn:hover {
  background-color: rgba(255, 128, 0, 1);
}

/* >>>>>>>admin screen<<<<<<<<< */
.admin-btn_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.admin-btn {
  height: 30px;
  width: 50px;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  border: none;
}

.admin-btn:hover {
  background-color: blue;
  transition: ease-in 0.2s;
}

.addingprod {
  display: flex;
  margin-top: 2rem;
  position: fixed;
  background-color: black;
  margin-top: 60px;
}

/* #addingprod {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  background-color: black;
  width: 100%;
  padding: 10px;
  z-index: 20;
  padding-top: 100px;
  position: fixed;
} */
.container-search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 35px;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  height: 120px;
  gap: 15px;
  z-index: 20;
}
#filters-of-admin {
  margin-bottom: 30px;
}

.headingforadmin {
  color: #ddd;
  display: flex;
  justify-content: flex-start;
}

.check {
  display: flex;
}
.open-button {
  background-color: blue;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  border-radius: 50%;
  z-index: 10;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 50;
  background: rgba(255, 128, 0, 1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  height: 300x;
  width: 200px;
}

/* Add styles to the form container */
/* .form-container {
  max-width: 250px;
  padding: 10px;
  background-color: white;
} */

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="text"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.btn-1 {
  background-color: rgb(0, 0, 255);
  color: rgb(192, 192, 192);
  height: 25px;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  width: 50px;
  margin-left: 70px;
}
.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>><<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>K<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>< */

@media screen and (max-width: 800px) {
  .dropbtn {
    background-color: #0000ff;
    padding: 15px;
    font-size: 10px;
  }

  .logoutbtn {
    padding: 5px;
    font-size: 10px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
  }
  .dropdown-content {
    min-width: 100px;
  }
  .dropbtn {
    padding: 19px;
  }
  .gif-wit {
    width: 100%;
    height: 350px;
  }
}
