* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
      0deg,
      rgba(55, 55, 55, 0.4),
      rgba(55, 55, 55, 0.4)
    ),
    url(../images/earth.jpeg);
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: sans-serif;
}
.heading {
  display: flex;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 35px;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  height: 55px;
  gap: 15px;
  z-index: 100;
}

.dropbtn {
  background-color: #0000ff;
  color: white;
  padding: 19px;
  font-size: 16px;
  display: flex;
  border: none;
}

.fa-shopping-cart {
  background: none;
  font-size: 20px;
}
.modal-button {
  color: #0000ff;
  background: none;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ff8000;
}

.hi {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.hi.active {
  display: flex;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal.active {
  display: flex;
}

.format-img {
  display: none;
}

.totalofcart {
  background-color: white;
  font-size: 20px;
}

/* >>>>>>button filter<<<< */

#filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: fixed;
  padding-top: 4rem;
  background-color: black;
  width: 100%;
  padding: 10px;
}

.input {
  border: none;
  width: 150;
  height: 25px;
  border-radius: 50px;
  align-items: center;
  outline: none;
  background-color: black;
}

.btn {
  border: none;
  background-color: blue;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 1px;
  font-weight: 900;
}

.btn:hover {
  background-color: #ff8000;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: -0.9em;
  }
  43% {
    top: 0em;
  }
  46% {
    top: -0.4em;
  }
  48% {
    top: 0em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}

/* >>>>>>>items<<<<<< */
#products-container {
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 100%;
}

.products {
  border-radius: 20px;
  margin: 20px;
  height: 30rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 255) 0%,
    rgba(255, 128, 0, 1) 100%
  );
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-top: 20%;
  height: 32rem;
  width: 300px;
}

.phone-img {
  object-fit: contain;
  border-radius: 1px;
  position: relative;
  height: 250px;
  width: 100%;
}

.gif-con {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  margin-top: 4rem;
}

.gif-wit {
  object-fit: fill;
  margin-top: 10rem;
  width: 300px;
  height: 250px;
}

.content {
  display: flex;
  flex-direction: column;
}

.logoutbtn {
  color: white;
  padding: 20px 10px;
  background: blue;
}

/* modal close btn */
.close {
  font-size: 30px;
  color: white;
  padding-left: 20px;
  padding-top: 20px;
}

#more {
  display: none;
}
